<h1>Gil Miguel Ángel</h1>

<!-- Borré todo lo que venía por defecto para que quede la página vacía -->

{{ title }}    
<!-- El template (este HTML) recibe info. desde el la lógica (deste el TS) -->

<br><br><br>

<input type="text" [(ngModel)]="title">
<!-- El template (este HTML) envía info. hacia la lógica (hacia el TS) -->

<br><br><br>

<button (click)="onBtn()">
  Cambiar title
</button>

<br><br><br>
<br><br><br>
<h1>Ejercicio 1</h1>

<input type="number" placeholder="Edad Uno" [(ngModel)]="edadUno" min="0"> <br>
<input type="number" placeholder="Edad Dos" [(ngModel)]="edadDos" min="0">
<br>
<button (click)="calcular(edadUno, edadDos)">
  Calcular
</button>

<button (click)="limpiar()">
  Limpiar
</button>
<br>
<label for="edadUno">Promedio: </label> {{ promedio }} <br>
<label for="edadUno">Suma: </label> {{ suma }}



<br><br><br>
<br><br><br>
<h1>Ejercicio 2</h1>

<br><br><br>

<app-bienvenido></app-bienvenido>

<app-login></app-login>

<app-error></app-error>


<router-outlet />