<!-- Borré todo lo que venía por defecto para que quede la página vacía -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{{ title }}    
<!-- El template (este HTML) recibe info. desde el la lógica (deste el TS) -->

<br><br><br>

<input type="text" [(ngModel)]="title">
<!-- El template (este HTML) envía info. hacia la lógica (hacia el TS) -->

<br><br><br>

<button (click)="onBtn()">
  Cambiar title
</button>

<br><br><br>
<br><br><br>
<h1>Ejercicio 1</h1>

<input type="number" id="edadUno" placeholder="Edad Uno" [(ngModel)]="edadUno"> <br>
<input type="number" id="edadDos" placeholder="Edad Dos" [(ngModel)]="edadDos">
<br>
<button (click)="calcular(edadUno, edadDos)">
  Calcular
</button>

<button (click)="limpiar()">
  Limpiar
</button>
<br>
<label for="edadUno">Promedio: </label>{{ promedio }} <br>
<label for="edadUno">Suma: </label>{{ suma }}



<br><br><br>
<br><br><br>
<h1>Ejercicio 2</h1>

<router-outlet />